{% load static %}
<!-- Footer Section Start -->
<footer class="footer--section">
    <!-- Footer Widgets Start -->
    <div class="footer--widgets pt--70 pb--20 bg-lightdark" data-bg-img="img/footer-img/footer-widgets-bg.png">
        <div class="container">
            <div class="row AdjustRow">
                <div class="col-md-4 col-xs-6 col-xxs-12 pb--60">
                    <!-- Widget Start -->
                    <div class="widget">
                        <div class="h4 fw--700 widget--title"><img src="{% static 'img/new4.png' %}" class="normal"
                                style="height: 80px; width: 214px;" alt=""></div>

                        <!-- Text Widget Start -->
                        <div class="text--widget">
                            <p>The main motive of Initiation is to create a problem repository with proper ground
                                details and also to bring together all the dedicated social workers to tackle the social
                                problems with their new and innovative ideas.</p>

                            <p>Initiation is an Online platform designed to create a problem repository. The problem
                                submission form you can submit a social problem</p>
                        </div>
                        <hr>
                        <p><a href="#" style=" color: rgb(221, 220, 218) ; font-size: 1.5rem;">Our Team</a></p>
                        <!-- Text Widget End -->
                    </div>
                    <!-- Widget End -->


                </div>

                <div class="col-md-4 col-xs-6 col-xxs-12 pb--60" style="font-size: 1.7rem;">
                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title" style="font-size: 2rem;">Contact Us</h2>

                        <!-- Recent Posts Widget Start -->
                        <div class="recent-posts--widget">
                            <ul class="nav">
                                <li>
                                    <p class="date fw--300">
                                        <a href="#"><i class="fa mr--8 fa-map-marker"></i>IIT(BHU)Varanasi</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="date fw--300">
                                        <a href="#"><i class="fa mr--8 fa-phone"></i>+91 66966 66966</a>
                                    </p>
                                </li>
                                <li>
                                    <p class="date fw--300">
                                        <a href="#"><i class="fa mr--8 fa-envelope"></i>initiation@gmail.com</a>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <!-- Recent Posts Widget End -->
                    </div>
                    <!-- Widget End -->


                </div>

                <div class="col-md-4 col-xs-6 col-xxs-12 pb--60">
                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title" style="font-size: 2rem;">Follow Us</h2>

                        <!-- Nav Widget Start -->
                        <div class="nav--widget">
                            <p style="font-size: 3rem;">
                                <a href="#"><i class="fa fa-facebook  mr--8 "></i></a>
                                <a href="#"><i class="fa fa-twitter mr--8 "></i></a>
                                <a href="#"><i class="fa fa-google-plus-square mr--8 "></i></a>
                                <a href="#"><i class="fa fa-instagram mr--8 "></i></a>
                                <a href="#"><i class="fa fa-pinterest mr--8 "></i></a>
                            </p>
                        </div>
                        <!-- Nav Widget End -->
                    </div>
                    <!-- Widget End -->


                </div>

            </div>
        </div>
    </div>
    <!-- Footer Widgets End -->
    

</footer>
<!-- Footer Section End -->