{% load static %}
<!-- Header Section Start -->
<header class="header--section style--1">
    <!-- Header Topbar Start -->
    <div class="header--topbar bg-black">
        <div class="container">

            <!-- Header Topbar Links Start -->
            <ul class="header--topbar-links nav ff--primary float--right">
                {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'profile' %}" class="btn-link">
                        <i class="fa mr--8 fa-user-o"></i>
                        <span>My Initiation Account</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <span>Logout</span>
                    </a>
                </li>
                {% endif %}
            </ul>
            <!-- Header Topbar Links End -->
        </div>
    </div>
    <!-- Header Topbar End -->

    <!-- Header Navbar Start -->
    <div class="header--navbar navbar bg-black" data-trigger="sticky">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle style--1 collapsed" data-toggle="collapse"
                    data-target="#headerNav">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Header Navbar Logo Start -->
                <div class="header--navbar-logo navbar-brand">
                    <a href="{% url 'index' %}">
                        <img src="{% static 'img/logo-white.png' %}" class="normal" alt="">
                        <img src="{% static 'img/logo-black.png' %}" class="sticky" alt="">
                    </a>
                </div>
                <!-- Header Navbar Logo End -->
            </div>

            <div id="headerNav" class="navbar-collapse collapse float--right">
                <!-- Header Nav Links Start -->
                <ul class="header--nav-links style--1 nav ff--primary">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>Home</span>
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>


                    </li>
                    <li>
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
                        <a href="{% url 'about' %}"><span>About Us</span></a>
                        <!-- <i class="fa fa-caret-down"></i> -->
                        <!-- </a> -->

                    </li>
                    <li>
                        <a href="{% url 'list_project' %}">
                            <span>All Projects</span>
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>


                    </li>
                    <li class="dropdown megamenu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>Organisations</span>
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>


                    </li>
                    <li class="dropdown">
                        <a href="{% url 'new_project' %}">
                            <span>Create Project</span>
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>


                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>Messaging</span>
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>

                    </li>
                    {% if not request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>Login/Sign-Up</span>
                            <!-- <i class="fa fa-caret-down"></i> -->
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'sign_up' %}">Sign-Up</a></li>
                            <!-- <li><a href="blog-details.html">Blog Details</a></li> -->
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                <!-- Header Nav Links End -->
            </div>
        </div>
    </div>
    <!-- Header Navbar End -->
</header>